@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 225 13% 24%;
    --foreground: 0 0% 96%;
    --muted: 225 12% 28%;
    --muted-foreground: 225 12% 78%;
    --popover: 225 13% 21%;
    --popover-foreground: 0 0% 100%;
    --card: 225 13% 22%;
    --card-foreground: 0 0% 100%;
    --border: 225 3% 29%;
    --input: 225 3% 32%;
    --primary: 207 82% 66%;
    --primary-foreground: 207 82% 6%;
    --secondary: 207 30% 25%;
    --secondary-foreground: 207 30% 85%;
    --accent: 225 13% 39%;
    --accent-foreground: 225 13% 99%;
    --destructive: 0 81% 45%;
    --destructive-foreground: 0 0% 100%;
    --ring: 207 82% 66%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
